#videos {
	position: absolute;
	top: 100px;
	width: 100%;
}

/*#left-video, #right-video {
	margin-left: 5%;
	margin-right: 5%;
}*/

#left-video,#right-video {
    max-width: 560px; /* you have to have a size or this method doesn't work */
    max-height: 315px;
    
    position: absolute; /* positions according to the nearest parent */
    top: 400px; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
}

#left-video-wrapper h3, #right-video-wrapper h3 {
	max-width: 200px; /* you have to have a size or this method doesn't work */
    
    position: absolute; /* positions according to the nearest parent */
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
}
.backimg {
            background-image: url("img/ocean.png");
        }