<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Tides - HTML Template</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/framework.css">
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

	<header>
		<div class="wrapper clearfix">
			<div class="one_fourth logo">
				<a href="index.html">
					<img src="img/logo.png" alt="logo" class="retina" />
				</a>
			</div><!--/one_fourth-->
			<div class="three_fourths last">
				<nav>
					<ul id="selectnav">
						<li>
							<a href="index.html" class="=active">Home</a>
						</li>
						<li>
							<a href="index.html#portfolio">Works</a>
						</li>
						<li>
							<a href="index.html#services">Services</a>
						</li>
						<li>
							<a href="index.html#team">The Team</a>
						</li>
						<li>
							<a href="index.html#contact">Contact</a>
						</li>
						<li>
							<a href="blog.html">Blog</a>
						</li>
						<li>
							<a href="index-image.html">Image Header</a>
						</li>
						<li>
							<a href="index-gallery.html">Gallery Header</a>
						</li>
					</ul>
				</nav>
			</div><!--/three_fourths-->
		</div><!--/wrapper-->
	</header><!--/header-->
	
	<section class="big" id="home">
	
		<h1 class="mega">Welcome Reader.<br />This is Tides' Blog.</h1>
	
	</section>
	
	<section class="dark-wrapper">
	
		<div class="wrapper">
		
			<div class="two_thirds">
			
				<article>
					<ul class="rslides">
					  <li><img src="img/blarge1.jpg" alt="image"></li>
					  <li><img src="img/blarge2.jpg" alt="image"></li>
					  <li><img src="img/blarge3.jpg" alt="image"></li>
					</ul>
					<div class="content">
						<h3><a href="single.html" class="light">See the Features</a></h3>
						<h6>The Subtitle. Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante.</h6>
						<p>Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
					</div>
					<div class="meta">
						<p>By <a href="#">Tommus</a>, on 12 July 2988, tagged as <a href="#">Tommus</a>, <a href="#">Design</a>, <a href="#">3 Comments</a></p>
					</div>
				</article>
			
				<article>
					<a href="single.html" class="isotope-alt-image">
						<img src="img/columns.jpg" alt="image" />
						<div>
							<h4 class="light">See the Features
							<small>By Tommus, on 12 July 2988, tagged as Tommus, Design, 3 Comments</small>
							</h4>
						</div>
					</a>
					<div class="content">
						<h3><a href="single.html" class="light">See the Features</a></h3>
						<h6>The Subtitle. Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante.</h6>
						<p>Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
					</div>
					<div class="meta">
						<p>By <a href="#">Tommus</a>, on 12 July 2988, tagged as <a href="#">Tommus</a>, <a href="#">Design</a>, <a href="#">3 Comments</a></p>
					</div>
				</article>
				
				<article>
					<div class="video-container">
						<iframe src="http://player.vimeo.com/video/75690047?title=0&amp;byline=0&amp;portrait=0" width="500" height="281"></iframe>
					</div>
					<div class="content">
						<h3><a href="single.html" class="light">See the Features</a></h3>
						<h6>The Subtitle. Morbi non erat non ipsum pharetra tempus. Donec orci. Proin in ante. Pellentesque sit amet purus. Cras egestas diam sed ante.</h6>
						<p>Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
					</div>
					<div class="meta">
						<p>By <a href="#">Tommus</a>, on 12 July 2988, tagged as <a href="#">Tommus</a>, <a href="#">Design</a>, <a href="#">3 Comments</a></p>
					</div>
				</article>
			
			</div>
		
			<aside class="one_third last sidebar">
			
				<div class="widget search">
					<input type="text" name="search" placeholder="Search and enter" />
				</div>
				
				<div class="widget">
					<h5>Text Widget</h5>
					<p>Nulla facilisi. In vel sem. Morbi id urna in diam dignissim feugiat. Proin molestie tortor eu velit. Aliquam erat volutpat. Nullam ultrices, diam tempus vulputate egestas, eros pede varius leo, sed imperdiet lectus est ornare odio.</p>
				</div>
				
				<div class="widget">
					<h5>Video widget</h5>
					<div class="video-container">
						<iframe width="560" height="315" src="http://www.youtube.com/embed/9bZkp7q19f0?rel=0"></iframe>
					</div>
				</div>
				
				<div class="widget">
					<h5>Categories</h5>
					<ul class="fa-ul">
					  <li><i class="fa-li fa fa-check-square"></i>List icons (like these)</li>
					  <li><i class="fa-li fa fa-check-square"></i>can be used</li>
					  <li><i class="fa-li fa fa-spinner fa-spin"></i>to replace</li>
					  <li><i class="fa-li fa fa-square"></i>default bullets in lists</li>
					</ul>
				</div>
				
			</aside>
			<div class="clear"></div><!--CLEAR FLOATS-->
			
		</div>
		
	</section>
	
	<footer>
			
		<div class="wrapper centered">
			<div class="social">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-flickr"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>
			
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</footer>
	
	<section class="small-padding dark-wrapper">
			
		<div class="wrapper">
			<p class="centered">© 2013 Tides. All rights reserved. Theme by TommusRhodus.</p>
			
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	
<!--LOAD SCRIPTS-->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</body>
</html>