{% extends "SimSimWeb/dashboard_base.html" %}

{% block content %}
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Repeat</h4>
						</div>
						<div class="modal-body">
                            {% load staticfiles %}
							 <form action="#" class="form-horizontal form-row-sepe">
                                  {% csrf_token %}
								<div class="form-body">
									<div class="form-group">
										<label class="control-label col-md-3">Repeats:</label>
										<div class="col-md-4">
											<select class="form-control input-medium select2me">
												<option value="weekly">
												 Weekly
												</option>
												<option value="2week">
												 Every two week
												</option>
												<option value="3week">
												 Every three week
												</option>
												<option value="monthly">
												 Monthly
												</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Repeat on:</label>
										<div class="radio-list">
											<label class="radio-inline">
											<input type="radio" name="times" value="mon" checked>M</label>
											<label class="radio-inline">
											<input type="radio" name="times" value="tue">T</label>
											<label class="radio-inline">
											<input type="radio" name="times" value="wed">W</label>
											<label class="radio-inline">
											<input type="radio" name="times" value="thu">T</label>
											<label class="radio-inline">
											<input type="radio" name="times" value="fri">F</label>
											<label class="radio-inline">
											<input type="radio" name="times" value="sat">S</label>
											<label class="radio-inline">
											<input type="radio" name="times" value="sun">S</label>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Starts on:</label>
										<div class="col-md-3">
											<div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
												<input type="text" class="form-control" readonly>
												<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
												</span>
											</div>
											<!-- /input-group -->
											<span class="help-block">
											Select date </span>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Ends:</label>
										<div class="radio-list">
											<label class="radio-inline">
											<input type="radio" name="ends" value="never" checked> Never </label>
											<label class="radio col-md-offset-3">
											<input type="radio" name="ends" value="after"> After <span><input type="text" name="occurrences"> Occurrences</span> </label>
											<label class="radio col-md-offset-3">
												<input type="radio" name="ends" value="on"> On
												<div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
												<input type="text" class="form-control" readonly>
												<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
												</span>
												</div>
											</label>
										</div>
									</div>
									<div class="form-actions">
										<div class="modal-footer">
											<button type="submit" class="btn blue"> Done </button>
											<button type="button" class="btn default" data-dismiss="modal"> Cancel </button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE HEADER-->
			<!-- BEGIN PAGE HEAD -->
			<div class="page-head">
				<!-- BEGIN PAGE TITLE -->
				<div class="page-title">
					<h1>Guest Request</h1>
				</div>
				<!-- END PAGE TITLE -->
			</div>
			<!-- END PAGE HEAD -->
			<!-- BEGIN PAGE BREADCRUMB -->
			<ul class="page-breadcrumb breadcrumb">
				<li>
					<a href="/">Home</a>
					<i class="fa fa-circle"></i>
				</li>
				<li class="active">
					Guest Request
				</li>
			</ul>
			<!-- END PAGE BREADCRUMB -->
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="portlet box blue-hoki">
						<div class="portlet-title">
							<div class="caption caption-md">
							 Access Record
							</div>
						</div>
						<div class="portlet-body">
							<div class="portlet">
								<div class="portlet-title">
									<div class="caption caption-md">
									 Following guests requested access to your properties. To service a guest request, click on the guest's name.
									</div>
								</div>
							</div>
							<form action="#" class="form-horizontal form-row-sepe">

								<div class="form-body">
									<div class="form-group">
										<br>
										<div class="col-md-4">
											<select class="form-control input-xlarge select2me" data-placeholder="Select...">

                                                <option value="property">
												Select Property to view
												</option>
												<option value="Option1">
												Option1
												</option>
											</select>
										</div>
									</div>
								</div>
							</form>
							<br>
							<div class="scroller" style="height:300px" data-rail-visible="1" data-rail-color="gray" data-handle-color="#a1b2bd">
								<p>
									<a href="#portlet-config" data-toggle="modal" class="config"> Sringth
									</a>
									requested <a href="#">305 Ophelia St PA</a> at 04/08/2015 22:15
								</p>
								<p>
									<a href="#portlet-config" data-toggle="modal" class="config"> Sringth
									</a>
									requested <a href="#">305 Ophelia St PA</a> at 04/08/2015 22:15
								</p>
							</div>
							<br>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="portlet box blue-hoki">
						<div class="portlet-title">
							<div class="caption caption-md">
							 Give Access
							</div>
						</div>
						<div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form action="#" class="form-horizontal form-row-sepe">
								<div class="form-body">
									<div class="form-group">
										<br>
										<div class="col-md-4">
											<select class="form-control input-xlarge select2me" data-placeholder="Select...">
												<option value="property">
												Select Property
												</option>
												<option value="Option1">
												Option1
												</option>
											</select>
										</div>
									</div>
								</div>
							</form>
							<form action="#" class="form-horizontal form-row-sepe">
								<div class="form-body">
									<h4 class="form-section">Who is given access?</h4>
									<div class="form-group">
										<label class="control-label col-md-3">Mobile</label>
										<div class="col-md-4">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-mobile-phone"></i>
												</span>
												<div type="text" class="form-control" placeholder="Cell Numbers" name="mobile">
                                                    {{ form.mobile_phone_number }}
                                                </div>
											</div>
										</div>
									</div>
									<br>
									<h4 class="form-section">When given access? (optional)</h4>
									<div class="form-group">
										<label class="control-label col-md-3">Access Start</label>
										<div class="col-md-3">
											<div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
												<div type="text" class="form-control" readonly>
                                                     {{ form.requested_access_start_time }}
                                                </div>
												<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
												</span>
											</div>
											<!-- /input-group -->
											<span class="help-block">
											Select date </span>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Access End</label>
										<div class="col-md-3">
											<div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                                <div type="text" class="form-control" readonly>
                                                     {{ form.requested_access_end_time }}
                                                </div>
												<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
												</span>
											</div>
											<!-- /input-group -->
											<span class="help-block">
											Select date </span>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-3"></div>
										<div class="checkbox">
									      	<label><div type="checkbox" name="repeat">
                                                {{ form.repeat }}
                                                Repeat
                                                </div>
                                            </label>
									    </div>
									</div>
									<h4 class="form-section"> How many times? </h4>
									<div class="form-group">
										<div class="col-md-3"></div>
										<div class="radio-list">
											<label class="radio-inline">
											<div type="radio" name="times" value="option1">
                                                {{ form.access_times }}
                                                One time access
                                            </div>
                                            </label>
											<label class="radio-inline">
											<div type="radio" name="times" value="option2">
                                                {{ form.access_times }}
                                                Multiple access
                                            </div>
                                            </label>
										</div>
									</div>
									<div class="form-actions">
										<div class="row">
											<div class="col-md-offset-5 col-md-7">
												<button type="submit" class="btn blue">Submit</button>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
{% endblock %}