<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>SimSim</title>
    <meta name="author" content="">
    <meta name="description" content="">
    {% load staticfiles %}
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'SimSimWeb/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'SimSimWeb/css/framework.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'SimSimWeb/css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'SimSimWeb/css/style.css' %}">

    <link rel="shortcut icon" href="{% static 'SimSimWeb/img/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'SimSimWeb/img/favicon.ico' %}" type="image/x-icon">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

	<header>
		<div class="wrapper clearfix">
			<div class="one_fourth remove_bottom logo">
				<a href="/">
					<img src="{% static 'SimSimWeb/img/logo.png' %}" alt="logo" clas="retina" id="logo">
				</a>
			</div><!--/one_fourth-->
			<div class="three_fourths remove_bottom last">
				<nav>
					<ul id="selectnav">
						<li>
							<a href="/vision" class="scroller">Vision</a>
						</li>
                        <li>
							<a href='/guest_request/' class="scroller">Dashboard</a>
						</li>
						<li>
							<a href="/introduction/" class="scroller">How SimSim works</a>
						</li>
						<li>
							<a href="/login/" class="scroller">Sign in/Sign up</a>
						</li>
						<!-- <li>
							<a href="/register/">Sign Up</a>
						</li> -->
						<li>
							<a href="index-image.html">Help</a>
						</li>
						<li>
							<a href="index-gallery.html">PreOrder</a>
						</li>
					</ul>
				</nav>
			</div><!--/three_fourths-->
		</div><!--/wrapper-->
	</header><!--/header-->

	<section class="full video" id="home">

		<!-- <h1 class="mega">Opening Up Possibilities</h1> -->
		<a class="mute muted" href="#"><i class="fa fa-volume-up"></i></a>
        <!-- <iframe src="https://player.vimeo.com/video/129704767?autoplay=1&loop=1&color=ff0179" width="1280" height="630" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
        <div id="caption">
	        <p class="centered">Open Possibilities</p>
        </div>
	</section>
	
	<section id="footer">
			
		<div class="wrapper">
			<p class="centered">© 2015 SimSim. All rights reserved.</p>
			
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>

{#	<section class="small-padding dark-wrapper">#}
{#			#}
{#		<div class="wrapper">#}
{#			<p class="centered">© 2015 SimSim. All rights reserved.</p>#}
{#			#}
{#			<div class="clear"></div><!--CLEAR FLOATS-->#}
{#		</div>#}
{#		#}
{#	</section>#}
{#	#}
	
<!--LOAD SCRIPTS-->
<script type="text/javascript" src="{% static 'SimSimWeb/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'SimSimWeb/js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'SimSimWeb/js/video.js' %}"></script>
<script type="text/javascript" src="{% static 'SimSimWeb/js/custom.js' %}"></script>
<script>
    $(function() {
        var BV = new $.BigVideo({useFlashForFirefox:false});
		BV.init();
		if ((/iPhone|iPod|iPad|Android|BlackBerry/).test(navigator.userAgent)) {
		    BV.show("{% static 'SimSimWeb/img/cover.png' %}");
		} else {
		    BV.show("{% static 'SimSimWeb/video/home.mp4' %}"
		    );
		}
		BV.getPlayer().volume(0);
		
		$('body').on('click', '.mute.muted', function(){
			BV.getPlayer().volume(0.8);
			$(this).removeClass('muted').addClass('unmuted');
			console.log('unmuted');
			return false;
		});
		
		$('body').on('click', '.mute.unmuted', function(){
			BV.getPlayer().volume(0);
			$(this).removeClass('unmuted').addClass('muted');
			console.log('muted');
			return false;
		});
    });
</script>


</body>
</html>