<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Tides - HTML Template</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/framework.css">
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

	<header>
		<div class="wrapper clearfix">
			<div class="one_fourth remove_bottom logo">
				<a href="index.html">
					<img src="img/logo.png" alt="logo" class="retina" />
				</a>
			</div><!--/one_fourth-->
			<div class="three_fourths remove_bottom last">
				<nav>
					<ul id="selectnav">
						<li>
							<a href="#home" class="scroller active">Home</a>
						</li>
						<li>
							<a href="#portfolio" class="scroller">Works</a>
						</li>
						<li>
							<a href="#services" class="scroller">Services</a>
						</li>
						<li>
							<a href="#team" class="scroller">The Team</a>
						</li>
						<li>
							<a href="#contact" class="scroller">Contact</a>
						</li>
						<li>
							<a href="blog.html">Blog</a>
						</li>
						<li>
							<a href="index-image.html">Image Header</a>
						</li>
						<li>
							<a href="index.html">Video Header</a>
						</li>
					</ul>
				</nav>
			</div><!--/three_fourths-->
		</div><!--/wrapper-->
	</header><!--/header-->
	
	<section class="gallery" id="home">
	
		<ul class="rslides">
		  <li>
		  	<img src="img/1.jpg" alt="image">
		  	<h1 class="mega">Welcome Traveller.<br />We are Tides.</h1>
		  </li>
		  <li>
		  	<img src="img/2.jpg" alt="image">
		  	<h1 class="mega">Awesome Design.<br />Clean Code.</h1>
		  </li>
		  <li>
		  	<img src="img/3.jpg" alt="image">
		  	<h1 class="mega">Video, Image<br />& Gallery Headers.</h1>
		  </li>
		</ul>
	
	</section>
	
	<section class="small-padding" id="portfolio">
	
		<div class="wrapper">
			<h3 class="floatleft">Our Work <small class="portfolio-filter">We're really proud.</small></h3>
				
			<div id="filters" class="floatright">
				<a href="*" class="active button">All</a>
				<a href=".web-design" class="button">Web Design</a>
				<a href=".development" class="button">Development</a>
				<a href=".illustration" class="button">Illustration</a>
				<a href=".business" class="button">Business</a>
			</div>
			
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	<section class="dark-wrapper">
	
		<div class="wrapper overflow-hidden">
		
			<div id="loader"></div>
			
			<ul class="clearfix portfolio-isotope portfolio scroll-animate bottom">
							
				<li class="web-design illustration">
					<a href="single-portfolio.html" class="isotope-alt-image">
						<img src="img/i1.jpg" alt="image" />
						<div>
							<h4>Project title<small>Web Design, Development</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Project title</h4>
							<p class="meta">Web Design, Development</p>
						</div>
					</div>
				</li>
				
				<li class="development business">
					<a href="single-portfolio.html" class="isotope-alt-image">
						<img src="img/i2.jpg" alt="image" />
						<div>
							<h4>Project title<small>Web Design, Development</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Project title</h4>
							<p class="meta">Web Design, Development</p>
						</div>
					</div>
				</li>
				<li class="web-design development">
					<a href="single-portfolio.html" class="isotope-alt-image">
						<img src="img/i3.jpg" alt="image" />
						<div>
							<h4>Project title<small>Web Design, Development</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Project title</h4>
							<p class="meta">Web Design, Development</p>
						</div>
					</div>
				</li>
				<li class="illustration business">
					<a href="single-portfolio.html" class="isotope-alt-image">
						<img src="img/i4.jpg" alt="image" />
						<div>
							<h4>Project title<small>Web Design, Development</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Project title</h4>
							<p class="meta">Web Design, Development</p>
						</div>
					</div>
				</li>
				<li class="illustration development">
					<a href="single-portfolio.html" class="isotope-alt-image">
						<img src="img/i5.jpg" alt="image" />
						<div>
							<h4>Project title<small>Web Design, Development</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Project title</h4>
							<p class="meta">Web Design, Development</p>
						</div>
					</div>
				</li>
				<li class="web-design business">
					<a href="single-portfolio.html" class="isotope-alt-image">
						<img src="img/i6.jpg" alt="image" />
						<div>
							<h4>Project title<small>Web Design, Development</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Project title</h4>
							<p class="meta">Web Design, Development</p>
						</div>
					</div>
				</li>

			</ul>
			
			<a href="more-posts.html" id="load-more" class="scroll-animate top">Load More</a>
			
		</div>
		
	</section>
	
	<section class="small-padding" id="services">
			
		<div class="wrapper">
			<h3 class="floatleft">Our Services <small>Prepare for Awesome.</small></h3>
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	<section class="dark-wrapper">
	
		<div class="wrapper">
			
			<div class="one_fourth widget service scroll-animate left">
				<i class="fa fa-compass fa-6x"></i>
				<div class="break15"></div>
				<h4 class="margin-bottom-10">Service 1</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida.</p>
			</div>
			
			<div class="one_fourth widget service scroll-animate top">
				<i class="fa fa-exclamation-triangle fa-6x"></i>
				<div class="break15"></div>
				<h4 class="margin-bottom-10">Service 2</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida.</p>
			</div>
			
			<div class="one_fourth widget service scroll-animate bottom">
				<i class="fa fa-cloud-upload fa-6x"></i>
				<div class="break15"></div>
				<h4 class="margin-bottom-10">Service 3</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida.</p>
			</div>
			
			<div class="one_fourth widget service scroll-animate right last">
				<i class="fa fa-dot-circle-o fa-6x"></i>
				<div class="break15"></div>
				<h4 class="margin-bottom-10">Service 4</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida.</p>
			</div>
			<div class="clear"></div>
			
		</div>
		
	</section>
	
	<section class="small-padding" id="team">
		
		<div class="wrapper">
			<h3 class="floatleft">Our Team <small>Small and well crafted.</small></h3>
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	<section class="dark-wrapper">
	
		<div class="wrapper">
			
			<ul class="clearfix portfolio-isotope">
							
				<li class="scroll-animate left member">
					<a href="#" class="isotope-alt-image">
						<img src="img/team1.jpg" alt="image" />
						<div>
							<h4>John Doe<small>"Innovation distinguishes between a leader and a follower."</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">John Doe</h4>
							<p class="meta">Web Design, Development</p>
						</div>
					</div>
				</li>
				
				<li class="scroll-animate bottom">
					<a href="#" class="isotope-alt-image">
						<img src="img/team2.jpg" alt="image" />
						<div>
							<h4>Jimmy Doe<small>"Be a yardstick of quality. Some people aren't used to an environment where excellence is expected."</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Jimmy Doe</h4>
							<p class="meta">Man With a Plan</p>
						</div>
					</div>
				</li>
				<li class="scroll-animate right">
					<a href="#" class="isotope-alt-image">
						<img src="img/team3.jpg" alt="image" />
						<div>
							<h4>Jules Doe<small>"Design is not just what it looks like and feels like. Design is how it works."</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Jules Doe</h4>
							<p class="meta">CEO / Founder</p>
						</div>
					</div>
				</li>

			</ul>
			
		</div>
		
	</section>
	
	<section class="small-padding" id="contact">
			
		<div class="wrapper">
			<h3 class="floatleft">Contact Us. <small>We're ready for your call.</small></h3>
			
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	<section class="dark-wrapper">
	
		<div class="wrapper clearfix">
			
			<div class="two_thirds scroll-animate left">
				<div id="message"></div>
				<form method="post" action="sendemail.php" id="contactform">
					<input type="text" name="name" id="name" placeholder="Name" />
					<input type="text" name="email" id="email" placeholder="Email" />
					<input type="text" name="website" id="website" placeholder="Website" />
					<textarea name="comments" id="comments" placeholder="Comments"></textarea>
					<input type="submit" name="submit" value="Submit" />
				</form>
			</div>
			
			<div class="one_third last scroll-animate right">
				<h5>Contact Us</h5>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar.</p>
				<p class="margin-bottom-10"><i class="fa fa-map-marker fa-fixed-width"></i> York, England</p>
				<p class="margin-bottom-10"><i class="fa fa-phone-square fa-fixed-width"></i> +00 (123) 456 78 90</p>
				<p class="margin-bottom-10"><i class="fa fa-laptop fa-fixed-width"></i> <a href="first.last@email.com">first.last@email.com</a></p>
			</div>
			
		</div>
		
	</section>
	
	<footer>
			
		<div class="wrapper centered">
			<div class="social">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-flickr"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>
			
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</footer>
	
	<section class="small-padding dark-wrapper">
			
		<div class="wrapper">
			<p class="centered">© 2013 Tides. All rights reserved. Theme by TommusRhodus.</p>
			
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	
<!--LOAD SCRIPTS-->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</body>
</html>