{% extends "SimSimWeb/dashboard_base.html" %}

{% block content %}
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE HEADER-->
			<!-- BEGIN PAGE HEAD -->
			<div class="page-head">
				<!-- BEGIN PAGE TITLE -->
				<div class="page-title">
					<h1>Lock Activity</h1>
				</div>
				<!-- END PAGE TITLE -->
			</div>
			<!-- END PAGE HEAD -->
			<!-- BEGIN PAGE BREADCRUMB -->
			<ul class="page-breadcrumb breadcrumb">
				<li>
					<a href="SimSim.html">Home</a>
					<i class="fa fa-circle"></i>
				</li>
				<li class="active">
					Lock_activity
				</li>
			</ul>
			<!-- END PAGE BREADCRUMB -->
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-7 col-sm-12">
					<div class="portlet box blue-hoki">
						<div class="portlet-title">
							<div class="caption caption-md">
							 Activities Record
							</div>
						</div>
						<div class="portlet-body">
							<!-- BEGIN FORM-->
							<br>
							<form action="display_activity" class="form-horizontal form-row-sepe" methold = "post">
								{% csrf_token %}
								<div class="form-body">
									<div class="form-group">
										<br>
										<div class="col-md-2"></div>
										<div class="col-md-4">
											<select class="form-control input-xlarge select2me" name = "select_property">
												<option>All</option>
												{%for property in property_list%}
													<option name="property" value ="{{property.property_id}}">{{property}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="col-md-2 col-md-offset-4"><button type="submit" class="btn blue">Select</button></div>
									</div>
								</div>
							</form>
							<br>
							<div class="row">
								<div class="col-md-offset-2 col-md-8">
									<div class="portlet" style="overflow:scroll; height:400px;">
										<div class="portlet-title">
											<div class="caption" >
												<!-- <i class="icon-speech"></i> -->
												<!-- <table class="table table-hover"> -->
													<!-- <tbody> -->
														{% for activity in property_activities %}
															<!-- <tr> --><a href="">{{activity.lock_id}}</a> {{activity.lock_activity_type_id}}ed by <a href="">{{activity.user_id.user_id.username}}</a> at {{activity.activityTime}} </br>
														</br>
																<!-- <td>{{activity}}</td> -->
															<!-- </tr> -->
														{% endfor %}
<!-- 														<div class="pagination">
														    <span class="step-links">
														        {% if property_activities.has_previous %}
														            <a href="?page={{ property_activities.previous_page_number }}">previous</a>
														        {% endif %}

														        <span class="current">
														            Page {{ property_activities.number }} of {{ property_activities.paginator.num_pages }}
														        </span>

														        {% if property_activities.has_next %}
														            <a href="?page={{ property_activities.next_page_number }}">next</a>
														        {% endif %}
														    </span>
														</div> -->
													<!-- </tbody> -->
												<!-- </table> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
{% endblock %}