<li class="business development">
	<a href="single-portfolio.html" class="isotope-alt-image">
		<img src="img/i7.jpg" alt="image" />
		<div>
			<h4>Project title<small>Web Design, Development</small></h4>
		</div>
	</a>
	<div class="isotope-alt-details">
		<div>
			<h4 class="remove-bottom">Project title</h4>
			<p class="meta">Web Design, Development</p>
		</div>
	</div>
</li>
<li class="web-design illustration">
	<a href="single-portfolio-image.html" class="isotope-alt-image">
		<img src="img/i8.jpg" alt="image" />
		<div>
			<h4>Project title<small>Web Design, Development</small></h4>
		</div>
	</a>
	<div class="isotope-alt-details">
		<div>
			<h4 class="remove-bottom">Project title</h4>
			<p class="meta">Web Design, Development</p>
		</div>
	</div>
</li>
<li class="business illustration">
	<a href="single-portfolio-video.html" class="isotope-alt-image">
		<img src="img/i9.jpg" alt="image" />
		<div>
			<h4>Project title<small>Web Design, Development</small></h4>
		</div>
	</a>
	<div class="isotope-alt-details">
		<div>
			<h4 class="remove-bottom">Project title</h4>
			<p class="meta">Web Design, Development</p>
		</div>
	</div>
</li>