<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Tides - HTML Template</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/framework.css">
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

	<header>
		<div class="wrapper clearfix">
			<div class="one_fourth logo">
				<a href="index.html">
					<img src="img/logo.png" alt="logo" class="retina" />
				</a>
			</div><!--/one_fourth-->
			<div class="three_fourths last">
				<nav>
					<ul id="selectnav">
						<li>
							<a href="index.html" class="=active">Home</a>
						</li>
						<li>
							<a href="index.html#portfolio">Works</a>
						</li>
						<li>
							<a href="index.html#services">Services</a>
						</li>
						<li>
							<a href="index.html#team">The Team</a>
						</li>
						<li>
							<a href="index.html#contact">Contact</a>
						</li>
						<li>
							<a href="blog.html">Blog</a>
						</li>
						<li>
							<a href="index-image.html">Image Header</a>
						</li>
						<li>
							<a href="index-gallery.html">Gallery Header</a>
						</li>
					</ul>
				</nav>
			</div><!--/three_fourths-->
		</div><!--/wrapper-->
	</header><!--/header-->
	
	<section class="big" id="home">
	
		<h1 class="mega single">The Post Title<br /><small>23rd Aug 2013</small></h1>
	
	</section>
	
	<section class="dark-wrapper">
	
		<div class="wrapper">
		
			<div class="two_thirds">
			
				<article>
					<ul class="rslides">
					  <li><img src="img/blarge1.jpg" alt="image"></li>
					  <li><img src="img/blarge2.jpg" alt="image"></li>
					  <li><img src="img/blarge3.jpg" alt="image"></li>
					</ul>
					<div class="content">
						<div class="break15"></div>
						<h4>There's loads of features in Tides.</h4>
						<p>Etiam imperdiet urna sit amet risus. Donec ornare arcu id erat. Aliquam ultrices scelerisque sem. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus. In elit nulla, molestie vel, ornare sit amet, interdum vel, mauris. Etiam dignissim imperdiet metus.</p>
						
						<h5>Small Buttons</h5>
						<p>
							<a href="#" class="button">Button</a>
							<a href="#" class="button white">Button</a>
							<a href="#" class="button grey">Button</a>
							<a href="#" class="button pink">Button</a>
							<a href="#" class="button orange">Button</a>
							<a href="#" class="button green">Button</a>
						</p>
						<p>
							<a href="#" class="button blue">Button</a>
							<a href="#" class="button purple">Button</a>
							<a href="#" class="button teal">Button</a>
							<a href="#" class="button darkblue">Button</a>
							<a href="#" class="button black">Button</a>
						</p>
						<hr />
							<h5>Glossy Buttons</h5>
						<p>
							<a href="#" class="glossy button">Button</a>
							<a href="#" class="glossy button white">Button</a>
							<a href="#" class="glossy button grey">Button</a>
							<a href="#" class="glossy button pink">Button</a>
							<a href="#" class="glossy button orange">Button</a>
							<a href="#" class="glossy button green">Button</a>
						</p>
						<p>
							<a href="#" class="glossy button blue">Button</a>
							<a href="#" class="glossy button purple">Button</a>
							<a href="#" class="glossy button teal">Button</a>
							<a href="#" class="glossy button darkblue">Button</a>
							<a href="#" class="glossy button black">Button</a>
						</p>
						<hr />
							<h5>Large Buttons</h5>
						<p>
							<a href="#" class="button large">Button</a>
							<a href="#" class="button white large">Button</a>
							<a href="#" class="button grey large">Button</a>
							<a href="#" class="button pink large">Button</a>
							<a href="#" class="button orange large">Button</a>
							<a href="#" class="button green large">Button</a>
						</p>
						<p>
							<a href="#" class="button blue large">Button</a>
							<a href="#" class="button purple large">Button</a>
							<a href="#" class="button teal large">Button</a>
							<a href="#" class="button darkblue large">Button</a>
							<a href="#" class="button black large">Button</a>
						</p>
						<hr />
							<h5>Huge Buttons</h5>
						<p>
							<a href="#" class="button huge">Button</a>
							<a href="#" class="button white huge">Button</a>
							<a href="#" class="button grey huge">Button</a>
							<a href="#" class="button pink huge">Button</a>
							<a href="#" class="button orange huge">Button</a>
							<a href="#" class="button green huge">Button</a>
						</p>
						<p>
							<a href="#" class="button blue huge">Button</a>
							<a href="#" class="button purple huge">Button</a>
							<a href="#" class="button teal huge">Button</a>
							<a href="#" class="button darkblue huge">Button</a>
							<a href="#" class="button black huge">Button</a>
						</p>
						<hr />
						<p>Want to see just how easy it is to use our button classes? There's only a couple of classes to learn;</p>
						<p>The first class, <code>button</code> creates the button when attached to an 'a' or 'span' element, <code>pink</code> assigns it to be a pink button, and <code>large</code> makes it a large button!</p>
						<p>If you want just a little bit more impact on your button, you can add the <code>glossy</code> class.</p>
						
						<hr />
						
						<h4>Our responsive acccordion will work in whatever container you put them in, full width, half width you name it! It's 100% custom</h4>
						<h6>The footprint is absolutely tiny as well, coming in at 536bytes for a full responsive accordion script!</h6>
						<p>Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum..</p>
						<hr />
						
						<dl class="accordion">
						
							<dt class="active"><a href="#">Panel 1</a></dt>
							<dd class="active">
								<h4 class="margin-bottom-10">Accordion Content</h4>
								<p>Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum.</p>	
							</dd>
							
							<dt><a href="#">Panel 2</a></dt>
							<dd>
								<h4 class="margin-bottom-10">Accordion Content</h4>
								<p>Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum.</p>	
							</dd>
							
							<dt><a href="#">Panel 3</a></dt>
							<dd>
								<h4 class="margin-bottom-10">Accordion Content</h4>
								<p>Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum.</p>	
							</dd>
						
						</dl>
						
						<hr />
						
						<h4>We've bundled some great alerts in with Tides. You can set them to be whatever width you need using our columns classes.</h4>
						<p>There's a handful of display types, and also the option to have these be dismissible if you don't want them hanging around your beautiful webpage all day.</p>
						
						<hr />
						
						<div class="one_half alert">
							<strong>This is an alert son!</strong> Sort it out!
						</div>
						
						<div class="one_half alert danger last">
							<strong>This is an alert son!</strong> Sort it out!
						</div>
						
						<div class="one_half alert warning">
							<strong>This is an alert son!</strong> Sort it out!
						</div>
						
						<div class="one_half alert success last">
							<strong>This is an alert son!</strong> Sort it out!
						</div>
						
						<div class="clear"></div>
						
						<div class="alert">
							<strong>This is an alert son!</strong> Sort it out!
							<i class="fa fa-times"></i>
						</div>
						
						<div class="alert danger">
							<strong>This is an alert son!</strong> Sort it out!
							<i class="fa fa-times"></i>
						</div>
						
						<div class="alert warning">
							<strong>This is an alert son!</strong> Sort it out!
							<i class="fa fa-times"></i>
						</div>
						
						<div class="alert success">
							<strong>This is an alert son!</strong> Sort it out!
							<i class="fa fa-times"></i>
						</div>
						
						<hr />
						
						<h4>New uses our lightweight CSS framework, no bloat, percentage based columns that work perfectly no matter what container they sit in.</h4>
						<p>That's right, the columns in the theme are fully fluid, so full a page with them, full a small area with them, nest them, the columns will do the hard work for you.</p>
						<hr />
						
						<div class="example-column">Full Width</div>
						
						<div class="one_half example-column">.one_half</div>
						<div class="one_half example-column last">.one_half last</div>
						
						<div class="one_third example-column">.one_third</div>
						<div class="one_third example-column">.one_third</div>
						<div class="one_third example-column last">.one_third last</div>
						
						<div class="one_third example-column">.one_third</div>
						<div class="two_thirds last example-column">.two_thirds last</div>
						
						<div class="two_thirds example-column">.two_thirds</div>
						<div class="one_third last example-column">.one_third last</div>
						
						<div class="one_fourth example-column">.one_fourth</div>
						<div class="one_fourth example-column">.one_fourth</div>
						<div class="one_fourth example-column">.one_fourth</div>
						<div class="one_fourth last example-column">.one_fourth last</div>
						
						<div class="one_fourth example-column">.one_fourth</div>
						<div class="three_fourths last example-column">.three_fourths last</div>
						
						<div class="three_fourths example-column">.three_fourths</div>
						<div class="one_fourth last example-column">.one_fourth last</div>
						
						<div class="one_fourth example-column">.one_fourth</div>
						<div class="one_half example-column">.one_half</div>
						<div class="one_fourth last example-column">.one_fourth last</div>
						
						<div class="clear"></div><!--CLEAR FLOATS-->
						
					</div>
					<div class="meta">
						<p>By <a href="#">Tommus</a>, on 12 July 2988, tagged as <a href="#">Tommus</a>, <a href="#">Design</a>, <a href="#">3 Comments</a></p>
					</div>
				</article>
			
			</div>
		
			<aside class="one_third last sidebar">
			
				<div class="widget search">
					<input type="text" name="search" placeholder="Search and enter" />
				</div>
				
				<div class="widget">
					<h5>Text Widget</h5>
					<p>Nulla facilisi. In vel sem. Morbi id urna in diam dignissim feugiat. Proin molestie tortor eu velit. Aliquam erat volutpat. Nullam ultrices, diam tempus vulputate egestas, eros pede varius leo, sed imperdiet lectus est ornare odio.</p>
				</div>
				
				<div class="widget">
					<h5>Video widget</h5>
					<div class="video-container">
						<iframe width="560" height="315" src="http://www.youtube.com/embed/9bZkp7q19f0?rel=0"></iframe>
					</div>
				</div>
				
				<div class="widget">
					<h5>Categories</h5>
					<ul class="fa-ul">
					  <li><i class="fa-li fa fa-check-square"></i>List icons (like these)</li>
					  <li><i class="fa-li fa fa-check-square"></i>can be used</li>
					  <li><i class="fa-li fa fa-spinner fa-spin"></i>to replace</li>
					  <li><i class="fa-li fa fa-square"></i>default bullets in lists</li>
					</ul>
				</div>
				
			</aside>
			<div class="clear"></div><!--CLEAR FLOATS-->
			
		</div>
		
	</section>
	
	<footer>
			
		<div class="wrapper centered">
			<div class="social">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-flickr"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>
			
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</footer>
	
	<section class="small-padding dark-wrapper">
			
		<div class="wrapper">
			<p class="centered">© 2013 Tides. All rights reserved. Theme by TommusRhodus.</p>
			
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	
<!--LOAD SCRIPTS-->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</body>
</html>