<article>
	<a href="#" class="portfolio-close"><i class="fa fa-times"></i></a>
	
	<div class="video-container">
		<iframe src="http://player.vimeo.com/video/72051783?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	
	<div class="content">
		<div class="break15"></div>
		
		<div class="two_thirds">
			<h4>The Project Title</h4>
			<p>Aliquam et nisl vel ligula consectetuer suscipit. Morbi euismod enim eget neque. Donec sagittis massa. Vestibulum quis augue sit amet ipsum laoreet pretium.</p>
			
			<blockquote>Here's a blockquote. Aliquam et nisl vel ligula consectetuer suscipit. Morbi euismod enim eget neque.</blockquote>
			
			<p>Aliquam et nisl vel ligula consectetuer suscipit. Morbi euismod enim eget neque. Donec sagittis massa.</p>
		</div>
		
		<div class="one_third last">
			<h5>Project Details</h5>
			<p>
				<strong>Client</strong>: Google Inc.<br />
				<strong>Date</strong>: 12th July 1988<br />
				<strong>Skills</strong>: Design, Development<br />
				<strong>Address</strong>: <a href="#" class="light">http://madeinebor.com</a>
			</p>
		</div>
		
		<div class="clear"></div><!--CLEAR FLOATS-->
		
	</div>
	
</article>